
@{
    Layout = null;
}
@Styles.Render("~/Content/DangKy.css")
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <style>
        label.error {
            color: red;
            display:block;
        }
    </style>
    <script type="text/javascript">
                    if ('@TempData["LoiDangKy"]' != "")
            alert('@TempData["LoiDangKy"]');
    </script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
</script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#formdk").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "ten": {
                        required: true,
                    },
                     "ho": {
                required: true,
                     },
                     "diachi": {
                         required: true,
                     },
                     "sdt": {
                         required: true,
                         minlength:10,
                maxlength: 10
                     },
                     "email": {
                         required: true,
                         email:true
                     },
                     "matkhau": {
                         required: true,
                         minlength:6,
                         maxlength: 15
                     },
                     "nhaplaimatkhau": {
                         equalTo: "#matkhau",
                         minlength: 6,
                         maxlength: 15
                     }
                },
                messages: {
                    "ten": {
                        required: "Vui lòng nhập tên",
                    },
                    "ho": {
                        required: "Vui lòng nhập họ",
                    },
                    "diachi": {
                        required: "Vui lòng nhập địa chỉ",
                    },
                    "sdt": {
                        required: "Vui lòng nhập số điện thoại",
                        minlength: "Số điện thoại không hợp lệ",
                        maxlength: "Số điện thoại không hợp lệ"
                    },
                    "email": {
                        required: "Vui lòng nhập email",
                        email: "Email không đúng định dạng"
                    },
                    "matkhau": {
                        required: "Vui lòng nhập mật khẩu",
                        minlength: "Ít nhất 6 ký tự",
                        maxlength: "Mật khẩu quá dài"
                    },
                    "nhaplaimatkhau": {
                        equalTo: "Không đúng với mật khẩu",
                        minlength: "Ít nhất 6 ký tự",
                        maxlength: "Mật khẩu quá dài"
                    }
                },

            });
        });
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header>
        <div class="row">
            <div id="box1" class="col">
                <a href="~/Sach/TrangChu"><img class="img-responsive" src="~/Image/logo.png" alt="logo"></a>
</div>
            <div id="box2" class="col">
                <div class="search-container">
                    <form method="get" action="~/Sach/TimKiem">
                        <input type="text" name="tensach" placeholder="Tìm kiếm sản phẩm">
                        <button>Tìm</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div id="box3">
                    <a href="http://localhost:60030/Sach/DangNhap"> <i class="fa fa-sign-in"></i> Đăng nhập</a>
                    <a href="http://localhost:60030/Sach/DangKy"> <i class="fa fa-pencil-square-o"></i> Đăng ký</a>
                </div>
            </div>
        </div>
    </header>
    <div class="row1">
        <div class="col1">
            <div id="box1">
                <div class="menu1">
                    <ul>
                        <div id="danhmuc">
                            <li>DANH MỤC</li>
                        </div>
                        <li><a href="http://localhost:60030/Sach/SanPham">Top sách hay</a></li>
                        <li><a href="http://localhost:60030/Sach/SanPham">Sách kinh tế</a></li>
                        <li><a href="http://localhost:60030/Sach/SanPham">Sách tâm lý</a></li>
                        <li><a href="http://localhost:60030/Sach/SanPham">Sách khoa học</a></li>
                        <li><a href="http://localhost:60030/Sach/SanPham">Sách khoa học</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col1">
            <div id="box2">
                <div class="DangKy">
                    <P style="margin-bottom:0px">ĐĂNG KÝ</P>
                    <div class="input-dangky">
                        <form action="~/Sach/DangKy" method="post" id="formdk">
                            <input type="text" placeholder="Tên" name="ten" required>
                            <input type="text" placeholder="Họ" name="ho" required>
                            <input type="text" placeholder="Địa chỉ" name="diachi" required>
                            <input type="text" placeholder="Số điện thoại" name="sdt" required>
                            <input type="text" placeholder="Email" name="email" required>
                            <input type="password" placeholder="Mật khẩu" name="matkhau" id="matkhau" required>
                            <input type="password" placeholder="Nhập lại mật khẩu" name="nhaplaimatkhau" required>
                            <input type="submit" value="Đăng ký">
                            </form>
                                <ul>
                                    <li>Trang chủ</li>
                                </ul>
</div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-network">
        <div class="row-image6" id="intro=image6">
            <div class="col-image6">
                <div id="box1-image6">
                    <button><i class="fa fa-facebook"></i></button>
                </div>
            </div>
            <div class="col-image6">
                <div id="box2-image6">
                    <button><i class="fa fa-instagram"></i></button>
                </div>
            </div>

            <div class="col-image6">
                <div id="box3-image6">
                    <button><i class="fa  fa-youtube-play"></i></button>
                </div>
            </div>
            <div class="col-image6">
                <div id="box4-image6">
                    <button><i class="fa  fa-twitter"></i></button>
                </div>
            </div>
            <div class="col-image6">
                <div id="box5-image6">
                    <button><i class="fa fa-google-plus-square"></i></button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="logo">
            <img class="img-responsive" src="~/Image/logo.png" alt="logo">
            </img>
        </div>
        <div class="copy-right">
            <p>© By Phạm Tường Huy</p>
        </div>
    </footer>
</body>
</html>
